@page "/notes"
@inject INoteService NotesService
@inject NavigationManager NavigationManager

<PageTitle>Notes</PageTitle>
<h3>Notes</h3>

 <ul class="list-group">
    @foreach(var note in NotesService.Notes)
    {
        <li class="list-group-item d-flex justify-content-between align-items-start ">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@note.Heading</div>
                     @note.Body
            </div>
            <div style="margin-right:1rem">
                <button class="btn btn-primary" @onclick="(() => ShowNote(note.Id))">
                    <i class="oi oi-pencil"></i>
                </button>
            </div>
            <div>
                <button class="btn btn-danger" @onclick="(() => DeleteNote(note.Id))">
                    <i class="oi oi-x"></i>
                </button>
            </div>
            
        </li>
   
    }
    
 </ul>
 <br />
 <button class="btn btn-primary" @onclick="OpenCreateNote">Create Note</button>
 


@code {


    protected override async Task OnInitializedAsync()
    {
        await NotesService.GetNotes();
    }

    void ShowNote(int id)
    {
        NavigationManager.NavigateTo($"/note/{id}");
    }

    async Task DeleteNote(int id)
    {
        await NotesService.DeleteNote(id);
        NavigationManager.NavigateTo("/notes");
    }

    void OpenCreateNote()
    {
        NavigationManager.NavigateTo("/note");
    }
}
